@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body, html{
    padding:0;
    margin:0;
    font-family: "PT Sans", sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    color: #0099ff;
}
.header,
.section,
.footer {
    width:100%;
}
.header, 
.footer{
    background-color:#333;
    color:white;
    padding:10px;
    padding-bottom:0;
}
.header{
    display:flex;
    flex-wrap: wrap;
}
.header h1,
.header .menu {
    margin:0;
    padding:10px;
    padding-bottom:5px;
}
.header h1 {
    width:290px;
    margin-bottom:-6px;
    text-transform: uppercase;
    animation-name: Rainbow-Text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.header h1 object{
    float:left;
    width: 110px;
    margin-bottom:-5px;
}
.header small {
    font-size:40px;
    display:block;
    margin-bottom:-25px;
}
.header .menu {
    width: calc(100% - 300px);
    text-align:right;
}
.header .menu a{
    color: white;
    transition: background-color .5s;
    font-size: 26px;
    padding:5px 20px;
    margin:0;
    margin-top:63px;
    margin-bottom:-6px;
    display:inline-block;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    background-color:#292929;
}
.header .menu a[role="find"]{
    display:none;
}
.header .menu a.selected{
    cursor:default;
    background-color:#111;
}
.header .menu a:hover:not(.selected){
    background-color:#444;
    cursor:pointer;
}
.header .menu a:last-of-type:after{
    content: "";
}
.header .rainbow {
    width:calc(100% + 20px);
    height:4px;
    margin:-10px;
    margin-top:0;
    animation-name: Rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.footer{
    padding: 10px;
    display:flex;
}
.footer span{
    display:inline-block;
    width:33%;
}
.footer span:nth-of-type(2){
    text-align: center;
}
.footer span:nth-of-type(3){
    text-align: right;
}
.section {
    display:flex;
    margin:-10px 0;
    margin-bottom:-14px;
}
.section .column{
    padding:10px;
}
.section #container div > div > h1{
    width:100%;
    margin:0;
    padding:0;
    padding-bottom:10px;
    margin-bottom:10px;
    font-weight: bold;
    border-bottom:2px solid #ddd;
}
.section .right{
    width:400px;
    background-color:#eee;
}
#container.left{
    width:calc(100% - 400px);
}
.find {
    padding: 20px;
}
.find .title {
    font-size: 24px;
}
#sliderAgno {
    margin:50px 5px;
    margin-top:10px;
}
label[for="sliderAgno"]{
    text-align:center;
    width:100%;
    display:block;
    font-size:16px;
}
.psw {
    width:10%;
    height:30px;
    background-color:#0099ff;
    border:none;
}
.psw:hover,
.psw:focus {
    background-color:#0066cc;
}
input[type="password"]{
    width:calc(100% - 100px);
}
.type {
    position:relative;
    width:250px;
    height: 250px;
    margin: 10px;
    background-image: url('../Images Vectorized/caratula.svg'), 
         url('../Images Vectorized/vinilo.svg');
    background-size: 250px;
    background-position: left, right;
    background-repeat:no-repeat;
    border-radius: 4px;
    cursor:pointer;
    transition: width .5s;
    overflow: hidden;
}
.type > span{
    text-align:center;
    position:absolute;
    color:white;
    font-weight:bold;
    width:250px;
    height: 250px;
    padding-top:25px;
    opacity:0;
    transition: margin .5s, opacity .5s, transform .5s;
}
.type h2{
    margin:0;
    padding:0;
    width: 100%;
    text-align:center;
    font-size:20px;
    margin-top:40px;
    padding:5px;
    font-weight:bold;
    background-color:rgba(255,255,255,0.3);
    transition: width .5s;
}
.type p{
    margin:0;
    padding:0;
    position:absolute;
    display:block;
    bottom:5px;
    right:5px;
    transition: right .5s;
}
.type:hover{
    width:375px;
}
.type:hover > span{
    transform:rotate(90deg);
    margin-left:125px;
    opacity:1;
}
.type:hover > h2{
    width:calc(100% - 125px);
}
.type:hover > p{
    right: 130px
}
/*
.type:hover {
}
.type:nth-of-type(7n){
    background-color:#03f;
}
.type:nth-of-type(7n + 1){
    background-color:#6cf;
}
.type:nth-of-type(7n + 2){
    background-color:#3c3;
}
.type:nth-of-type(7n + 3){
    background-color:#cf3;
}
.type:nth-of-type(7n + 4){
    background-color:#c60;
}
.type:nth-of-type(7n + 5){
    background-color:#c00;
}
.type:nth-of-type(7n + 6){
    background-color:#606;
}
    */
.scrollControl {
    position: fixed;
    top:0;
    padding-top:10px;
    padding-right:10px;
}

#types > div {
    width:100%;
}
#types,
#results,
#ranking,
#contact{
    display:none;
}
#types.active,
#results.active,
#ranking.active,
#contact.active{
    display:block;
}
#types.active > div,
#results.active > div,
#ranking.active > div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
}
#results.active > div{
    justify-content: flex-start;
    align-items:stretch;
}
#contact.active > div{
    display:block;
}
#container > div > div{
    width:100%;
}
#menuRight{
    overflow-y:auto;
    overflow-x:hidden;
}
#contact .member{
    width:50%;
}
#contact h1{
    padding:10px;
}
#contact .member:nth-of-type(2) h1{
    text-align:right;
}
#results .block.success {
    animation-name: SuccessColor;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#results .block {
    width:calc(33% - 10px);
    padding:5px;
    padding-left:100px;
    background-image:url('../Images Vectorized/music.svg');
    background-repeat:no-repeat;
    background-position: left;
    background-size: 95px;
    display:flex;
    flex-wrap: wrap;
    background-color:#777;
    color:white;
    border-radius: 5px;
    margin:5px;
}
#results .block .info{
    width:100%;
}
#results .block span{
    display:inline-block;
}
#results .block span:nth-of-type(3) {
    float:right;
}
#results .block span:nth-of-type(1){
    font-size:18px;
    line-height:20px;
    width:100%;
}
#results .block span:nth-of-type(3) div{
    background-color:#0099ff;
    color:white;
    display:inline-block;
    padding:5px 15px;
    border-radius:3px;
    cursor:pointer;
    transition: background-color .5s;
}
#results .block span:nth-of-type(3) div.dis{
    cursor:default;
    background-color:gray;
}
#results .block span:nth-of-type(3) div:hover{
    background-color:#0066cc;
}
#results .block .setStars {
    width:100%;
    display: none;
    background-color:#999;
    margin:-5px;
    margin-right:-10px;
    padding:25px 10px;
    padding-bottom:0;
    text-align:center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#results .block .setStars .star,
#results .block .stars .star{
    background-image: url('../Images Vectorized/corazon.svg');
    background-size: 25px;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    display:inline-block;
    cursor:pointer;
    transition: filter .5s;
}
#results .block .stars .star{
    background-size: 20px;
    width:20px;
    height:20px;
    margin-left:5px;
    margin-right:-10px;
    float:right;
    transition: background-color .5s;
    background-color:transparent;
}
#results .block .setStars .star:hover ~ .star{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#results .block .setStars .star,
#results .block .setStars .star:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

#ranking > div{
	counter-reset: posicion;
    flex-wrap:wrap;
    align-items: flex-end;
}
#ranking .rank{
    width:calc(20% - 10px);
    margin:5px;
    text-align:center;
    font-size:60px;
    border-radius:3px;
}
#ranking .rank h2{
    background-color:#ddd;
    font-size:30px;
}
#ranking h1:nth-of-type(2){
    margin-top:20px;
    order:6;
}
#ranking .rank:nth-of-type(1){
    order:3;
    background-color:gold;
    padding:50px 0;
}
#ranking .rank:nth-of-type(2){
    order:2;
    background-color:gray;
}
#ranking .rank:nth-of-type(3){
    order:4;
    background-color:gray;
}
#ranking .rank:nth-of-type(4){
    order:1;
    background-color:sandybrown;
}
#ranking .rank:nth-of-type(5){
    order:5;
    background-color:sandybrown;
}
#ranking .rank:nth-of-type(2),
#ranking .rank:nth-of-type(3){
    padding:30px 0;
    margin:25px 0;
}

#ranking .rank:nth-of-type(4),
#ranking .rank:nth-of-type(5){
    margin:55px 0;
}

#ranking .rank:before{
	content: counter(posicion);
	counter-increment: posicion;
    color:white;
}

#ranking .ct-chart{
    order:7;
    width:100% !important;
    height:500px !important;
    font-size:16px !important;
}
#ranking .ct-chart .ct-bar {
    stroke-width: 30px;
}

#contact table{
    width: 500px;
    margin-bottom:20px;
    border:1px solid #999;
}
#contact table td,
#contact table th{
    padding:10px;
}
#contact table th{
    background-color:#eee;
    border-bottom:1px solid #999;
}
#contact table tr:nth-of-type(odd) td:nth-of-type(odd),
#contact table tr:nth-of-type(even) td:nth-of-type(even){
    background-color:#eee;
}

@media screen and (max-width: 1820px) {
    #results .block {
        width:calc(50% - 10px);
    }
}
@media screen and (max-width: 1400px) {
    #ranking .rank:nth-of-type(1){
        order:1;
        width:100%;
    }
    #ranking .rank:nth-of-type(2){
        order:2;
    }
    #ranking .rank:nth-of-type(3){
        order:3;
    }
    #ranking .rank:nth-of-type(4){
        order:4;
    }
    #ranking .rank:nth-of-type(5){
        order:5;
    }
    #ranking .rank{
        margin:5px !important;
        padding:10px 0 !important;
    }
}
@media screen and (max-width: 1400px) and (min-width: 601px) {
    #ranking .rank:nth-of-type(2),
    #ranking .rank:nth-of-type(3),
    #ranking .rank:nth-of-type(4),
    #ranking .rank:nth-of-type(5){
        width:calc(50% - 10px) !important;
    }

}
@media screen and (max-width: 1346px) {
    #results .block {
        width:calc(100% - 10px);
    }
}
@media screen and (max-width: 920px) {
    .section  {
        display:flex;
        flex-wrap:wrap;
    }
    .section .right {
        order:1;
        width:100%;
    }
    .section #container {
        order:2;
        width:100%;
    }
    .header .menu a[role="find"]{
        display:inline-block;
    }
}
@media screen and (max-width: 830px) {
    #results .block {
        width:calc(100% - 10px);
    }
}
@media screen and (max-width: 880px) {
    .header .menu,
    .header h1 {
        width: 100%;
    }
    .header .menu{
        text-align:left;
        padding-top:0;
        margin-top:-60px;
    }
}
@media screen and (max-width: 600px) {
    #ranking .rank{
        width:calc(100% - 10px) !important;
    }
}
@media screen and (max-width: 575px) {
    .header .menu a{
        padding:5px;
    }
}
@media screen and (max-width: 520px) {
    #contact table{
        width: 100%;
    }
}
@media screen and (max-width: 455px) and (min-width: 410px) {
    .header .menu a{
        font-size:20px;
        padding:5px 10px;
    }
}
@media screen and (max-width: 410px) {
    .header .menu {
        margin:0;
    }
    .header .menu a{
        width:calc(100% + 40px);
        margin:0-20px;
        border-radius:0 !important;
        padding:5px 40px;
    }
}